# Database
DATABASE_URL=sqlite:///./data/app.db

# APIs
GOOGLE_API_KEY=AIzaSyBNRnPlg3ifT2LEgrboENqi1Se1GzDpwMc
OPENWEATHER_API_KEY=dbde217e162b178a1e14be23056e90a6
REDDIT_CLIENT_ID=
REDDIT_SECRET=
TWITTER_BEARER_TOKEN=

# Application
APP_ENV=development
